<!DOCTYPE html>
<html ng-app="geziyorumAppModel" lang="tr-TR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="lib/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="lib/js/lib/angular-1.4.4.min.js"></script>
    <script type="text/javascript" src="lib/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/js/lib/bootbox.min.js"></script>
    <script type="text/javascript" src="lib/js/module/mainAngularModule.js"></script>      
    <script type="text/javascript" src="lib/js/controllers/supportpageCTRL.js"></script>
    <script type="text/javascript" src="lib/js/common/commonFuncs.js"></script>       
    <script type="text/javascript" src="lib/js/directives/js/logoutHeaderDirective.js"></script>     
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">   

    <link rel="stylesheet" type="text/css" href="lib/css/lib/bootstrap-glyphicons.css">    
    <link rel="stylesheet" type="text/css" href="lib/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/custom/supportpage.css">
    <link rel="stylesheet" type="text/css" href="lib/css/custom/commonCss.css">    
    
    <meta charset="UTF-8">
    <title>Geziyorum ^_^ </title>
</head>

<body style="background-color: rgb(247,247,247);">
    <div ng-controller="supportpageCTRL">
        <div class="container-fluid">

                <nav class="navbar navbar-inverse">
                  <div class="container-fluid" id="headerBackground" >
                    <div class="navbar-header">
                    <div class="row">
                        <a class="navbar-brand" >
                            <div>
                            </div>
                            <div>
                                <img style="width: 100px; height: 50px;" src="images/siteIcon2.png">
                            </div>
                        </a>
                    </div>
                    <div class="row">
                    <a class="navbar-brand" style="margin-bottom:  -20px; margin-top: -20px;" >
                        <h5 style="opacity: 0.5; font-size: 12px;">Mağazadan ücretsiz edin.</h5>
                    </a>
                    </div>
                    </div>                   
                  </div>
                </nav> 


            <div class="row" align="center" >
                

        <section id="contact" style="max-width: 1200px;">
            <div class="section-content" >
                <h1 class="section-header">Bize <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> birşeyler söyle.</span></h1>
                <h3>Aklına takılan bir konuda destek ekibiyle iletişime geçebilirsin.</h3>
            </div>
            <div class="contact-section">
            <div class="container">
                <form>
                    <div class="col-xs-6 col-md-6 form-line">
                        <div class="form-group">
                            <label  for="exampleInputUsername">Adın</label>
                            <input ng-model="nameSurname" type="text" class="form-control" id="" placeholder=" İsmini gir">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email Adresin</label>
                            <input ng-model="email" type="email" class="form-control" id="exampleInputEmail" placeholder=" Mail adresini gir">
                        </div>  
                        <div class="form-group">
                            <label for="telephone">Telefon No.</label>
                            <input maxlength="10" ng-model="phone" type="tel" class="form-control" id="telephone" placeholder=" 10-karakterlik numaranı gir">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label for ="description">Mesajın</label>
                            <textarea ng-model="message"  class="form-control" id="description" placeholder="Mesajını gir"></textarea>
                        </div>
                        <div>

                            <button type="button" 
                            ng-click="yolla()"
                            class="btn btn-primary submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Yolla </button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </section>

                    </div>

  <div class="navbar navbar-light">
    <div class="container-fluid">
    <div class="row">
        <hr>
        <div class="col-sm-4 col-sm-offset-2">
        <div class="pull-left">
            <div class="col-sm-4">
              <a class="navbar-text" href="#" title="Gizlilik" onclick="redirectPrivacyPage()" id="footerStyle">GİZLİLİK 
              </a>
                
            </div>
            <div class="col-sm-4">
              <a class="navbar-text" href="#" title="Hakkımızda" onclick="redirectAboutusPage()" id="footerStyle">HAKKIMIZDA
              </a>        
            </div>
            <div class="col-sm-4">
              <a class="navbar-text" href="#" title="Destek" onclick="redirectSupportPage()" id="footerStyle" ng-click="redirectSupportPage()">DESTEK
              </a>        
            </div>
        </div>
            
        </div>
        <div class="col-sm-4">
        <div class="pull-right">            
              <p class="navbar-text" id="footerStyle" style="opacity: 0.8;">
              <strong>
              © 2017 Geziyorum
              </strong>
              </p>        
        </div>    
        </div>
    </div>
    </div>
  </div>


        </div>
    </div>
</body>

</html>