<!DOCTYPE html>
<html ng-app="geziyorumAppModel" lang="tr-TR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../lib/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../lib/js/lib/angular-1.4.4.min.js"></script>
    <script type="text/javascript" src="../lib/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/js/lib/bootbox.min.js"></script>   
    <script type="text/javascript" src="../lib/js/controllers/verifypageCTRL.js"></script>
    <script type="text/javascript" src="../lib/js/common/commonFuncs.js"></script>       
    <script type="text/javascript" src="../lib/js/directives/js/logoutHeaderDirective.js"></script>     

    <link rel="stylesheet" type="text/css" href="../lib/css/lib/bootstrap-glyphicons.css">    
    <link rel="stylesheet" type="text/css" href="../lib/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/css/custom/commonCss.css">    
    
    <meta charset="UTF-8">
    <title>Geziyorum ^_^ </title>
</head>

<body style="background-color: rgb(247,247,247);">
    <div ng-controller="verifypageCTRL">
        <div class="container-fluid">
                        <nav class="navbar navbar-inverse">
                          <div class="container-fluid" id="headerBackground" >
                            <div class="navbar-header">
                            <div class="row">
                                <a class="navbar-brand" >
                                    <div>
                                    </div>
                                    <div>
                                        <img style="width: 100px; height: 50px;" src="/Geziyorum/images/siteIcon2.png">
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                            <a class="navbar-brand" style="margin-bottom:  -20px; margin-top: -20px;" >
                                <h5 style="opacity: 0.5; font-size: 12px;">Mağazadan ücretsiz edin.</h5>
                            </a>
                            </div>
                            </div>                   
                          </div>
                        </nav> 
                        <br><br><br><br><br><br><br>
                        <div align="center">
                            <h5 style="font-size: 15px;">Aktivasyon işlemi tamamlandı.</h5>                      
                        </div>
                        
                        
                        
                        <br><br><br><br><br><br><br><br><br><br><br>

                  <div class="navbar navbar-light">
                    <div class="container-fluid">
                    <div class="row">
                        <hr>
                        <div class="col-sm-4 col-sm-offset-2">
                        <div class="pull-left">
                            <div class="col-sm-4">
                              <a class="navbar-text" href="#" title="Gizlilik" onclick="redirectPrivacyPage()" id="footerStyle">GİZLİLİK 
                              </a>
                                
                            </div>
                            <div class="col-sm-4">
                              <a class="navbar-text" href="#" title="Hakkımızda" onclick="redirectAboutusPage()" id="footerStyle">HAKKIMIZDA
                              </a>        
                            </div>
                            <div class="col-sm-4">
                              <a class="navbar-text" href="#" title="Destek" onclick="redirectSupportPage()" id="footerStyle" ng-click="redirectSupportPage()">DESTEK
                              </a>        
                            </div>
                        </div>
                            
                        </div>
                        <div class="col-sm-4">
                        <div class="pull-right">            
                              <p class="navbar-text" id="footerStyle" style="opacity: 0.8;">
                              <strong>
                              © 2017 Geziyorum
                              </strong>
                              </p>        
                        </div>    
                        </div>
                    </div>
                    </div>
                  </div>


        </div>
    </div>
</body>
</html>